.NewPostForm {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 50px;
  .story-form {
    font-size: 30px;
    background-color: #6c7b95;
    border-radius: 8px;
    margin: 5px;
    #story {
      background-color: #f8f8f8;
      color: #132743;
      font-size: 22px;
      font-weight: 500;
      resize: none;
      width: 350px;
      height: 150px;
      border-radius: 0 0 8px 8px;
    }
  }
  .story-display {
    background-color: #6c7b95;
    border-radius: 8px 8px 0 0;
    overflow: scroll;
    width: 350px;
    height: 100px;
    padding: 12px;
    p {
      font-weight: 500;
    }
  }
  .wanted-items {
    li {
      color: #042f4b;
    }
  }
  i {
    color: #204969;
    font-size: 30px;
    margin-top: 5px;
    padding: 10px;
  }
  i:hover {
    transform: scale(1.5);
  }
}
